{extend name='base' /}
{block name='content'}
<title>用户列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 用户列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	{literal}
	<div class="text-c"> 日期范围：
		<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;" name="start_time">
		-
		<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;" name="end_time">
		<input type="text" class="input-text" style="width:250px" placeholder="输入用户名称" id="" name="name">
		<button type="button" onclick="search()" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
	</div>
	{/literal}
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="add('添加用户','{:url('create')}','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a></span> <span class="r">共有数据：<strong>{$total}</strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="10">员工列表</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
				<th width="150">登录名</th>
				<th width="90">性别</th>
				<th width="90">手机</th>
				<th width="150">邮箱</th>
				<th>角色</th>
				<th width="130">加入时间</th>
				<th width="100">是否已启用</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			{volist name='list' id='v'}
			<tr class="text-c">
				<td><input type="checkbox" value="{$v.id}" name="id"></td>
				<td>{$v.id}</td>
				<td>{$v.name}</td>
				<td>{$v.gender}</td>
				<td>{$v.phone}</td>
				<td>{$v.email}</td>
				<td>{$v.role_name}</td>
				<td>{$v.create_time}</td>
				<td class="td-status"><span class="label {$v.is_use==1?'label-success':'label-error'} radius">{$v.is_use==1?'启用':'禁用'}</span></td>
				<td class="td-manage"><a style="text-decoration:none" onclick="isuse('{$v.id}')" href="javascript:;" title="{$v.is_use==1?'禁用':'启用'}"><i class="Hui-iconfont">{$v.is_use==1?'&#xe631;':'&#xe604;'}</i></a> <a title="编辑" href="javascript:;" onclick="edit('用户编辑','{:url('edit',['id'=>$v.id])}','800','400')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="del(this,'{$v.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
			{/volist}
		</tbody>
	</table>
	{$list->render()}
</div>
{/block}

{block name='footer'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__AVIEW__lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__AVIEW__lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__AVIEW__lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
/*添加*/
function add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*编辑*/
function edit(title,url,w,h){
	layer_show(title,url,w,h);
}
/*删除*/
function del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type : 'post',
			url : '{:url('delete')}',
			data : {'id':id},
			dataType : 'json',
			success : function(info){
				if(info.code==1){
					layer.msg(info.msg,{icon:1,time:1000});
					window.location.reload();
				}else{
					layer.msg(info.msg,{icon:2,time:1000});
				}
			}
		});
	});
}
/*批量删除*/
function datadel(){
	var ids = [];
	$('input[name^=id]:checked').each(function(){
		ids.push($(this).val());
	});

	$.ajax({
		url : '{:url('deletion')}',
		data : {'ids':ids},
		type : 'post',
		dataType : 'json',
		success : function(info){
			if(info.code==1){
				layer.msg(info.msg,{icon:1,time:1000},function(){
					window.location.reload();
				});
			}else{
				layer.msg(info.msg,{icon:2,time:1000});
			}
		}
	})
}
/*启用禁用*/
function isuse(id){
	$.ajax({
		type : 'post',
		url : '{:url('isuse')}',
		data : {'id':id},
		dataType : 'json',
		success : function(info){
			if(info.code==1){
				layer.msg(info.msg,{icon:1,time:1000},function(){
					window.location.reload();
				});
			}else{
				layer.msg(info.msg,{icon:2,time:1000});
			}
		}
	});
}
</script>
{/block}