{php}$attrId = array();{/php}
{volist name='attr' id='v' empty=''}
{if condition='$v.values == ""'}
	{if condition='!in_array($v.attribute_id,$attrId)'}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">{$v.name}：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$v.attribute_value}"
				{if condition='$v.id != NULL'}
				name="attr[{$v.attribute_id}][{$v.id}]"
				{else /}
				name="new_attr[{$v.attribute_id}][]"
				{/if}
				>
			</div>
		</div>
		{php}$attrId[] = $v['attribute_id'];{/php}
	{/if}
{else /}
<div class="row cl attr{$v.attribute_id}">
	<label class="form-label col-xs-4 col-sm-2">
		{if condition='$v.choice == 1'}
			{if condition='in_array($v.attribute_id,$attrId)'}
				<a href="javascript:void(0);" onclick="change(this,'{$v.attribute_id}','{$v.id}')" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6a1;</i></a>
			{else /}
				<a href="javascript:void(0);" onclick="change(this,'{$v.attribute_id}','{$v.id}')" class="btn btn-primary radius"><i class="Hui-iconfont true">&#xe600;</i></a>
				{php}$attrId[] = $v['attribute_id'];{/php}
			{/if}
		{/if}
		{$v.name}：
	</label>
	<div class="formControls col-xs-8 col-sm-9"> 
		<span class="select-box" style="width:25%">
		<select
		{if condition='$v.id == NULL'}
		name="new_attr[{$v.attribute_id}][]"
		{else /}
		name="attr[{$v.attribute_id}][{$v.id}]"
		{/if}
		class="select">
			<option value="">请选择</option>
			{volist name='v.values' id='vo'}
			<option value="{$vo}"
			{$vo == $v['attribute_value'] ? 'selected="selected"':''}
			>{$vo}</option>
			{/volist}
		</select>
		</span> 
		{if condition='$v.choice == 1'}
			<input type="text" 
			{if condition='$v.id == NULL'}
			name="new_attr_price[{$v.attribute_id}][]"
			{else /}
			name="attr_price[{$v.attribute_id}][{$v.id}]"
			{/if}
			placeholder="此属性比商品价多出的价格，不填或填0，默认与原价相同" value="{$v.attribute_price == 0 ? '':$v.attribute_price}" class="input-text" style="width:50%">元
		{/if}
	</div>
</div>
{/if}
{/volist}