{extend name='base' /}
{block name='content'}
<title>商品列表</title>
<link rel="stylesheet" href="__AVIEW__lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>
<body class="pos-r">
<div class="pos-a" style="width:200px;left:0;top:0; bottom:0; height:100%; border-right:1px solid #e5e5e5; background-color:#f5f5f5; overflow:auto;">
	<ul id="treeDemo" class="ztree"></ul>
</div>
<div style="margin-left:200px;">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理 <span class="c-gray en">&gt;</span> 商品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="page-container">
		{literal}
		<div class="text-c"> 日期范围：
			<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
			-
			<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
			<input type="text" name="" id="" placeholder=" 商品名称" style="width:250px" class="input-text">
			<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜商品</button>
		</div>
		{/literal}
		<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="recycles()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量移除</a> <a class="btn btn-primary radius" onclick="add('添加商品','{:url('create')}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加商品</a></span> <span class="r">共有数据：<strong>{$total}</strong> 条</span> </div>
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover">
				<thead>
					<tr class="text-c">
						<th width="40"><input name="" type="checkbox" value=""></th>
						<th width="40">ID</th>
						<th width="60">缩略图</th>
						<th width="100">商品名称</th>
						<th>市场价</th>
						<th>本店价</th>
						<th>上架</th>
						<th>推荐</th>
						<th>热销</th>
						<th>新品</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name='list' id='v'}
						<tr class="text-c va-m">
							<td><input name="id" type="checkbox" value="{$v.id}"></td>
							<td>{$v.id}</td>
							<td><img width="60" class="product-thumb" src="{$Think.const.DS . 'upload' . $Think.const.DS . $v.sm_logo}"></td>
							<td>{$v.name}</td>
							<td>{$v.supermarket_price}</td>
							<td>{$v.shop_price}</td>
							<td class="td-status"><span class="label {$v.is_sale == 1 ? 'label-success' : 'label-error'} radius">{$v.is_sale == 1 ? '上架' : '否'}</span></td>
							<td class="td-status"><span class="label {$v.is_best == 1 ? 'label-primary' : 'label-error'} radius">{$v.is_best == 1 ? '推荐' : '否'}</span></td>
							<td class="td-status"><span class="label {$v.is_hot == 1 ? 'label-danger' : 'label-error'} radius">{$v.is_hot == 1 ? '热销' : '否'}</span></td>
							<td class="td-status"><span class="label {$v.is_new == 1 ? 'label-warning' : 'label-error'} radius">{$v.is_new == 1 ? '新品' : '否'}</span></td>
							<td class="td-manage"><a style="text-decoration:none" onclick="numlist('商品库存','{:url('kucun',['id'=>$v.id])}')" href="javascript:;" title="库存"><i class="Hui-iconfont">&#xe637;</i></a> <a style="text-decoration:none" class="ml-5" onclick="edit('编辑商品','{:url('edit',['id'=>$v.id])}')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onclick="recycle('{$v.id}')" href="javascript:;" title="商品回收"><i class="Hui-iconfont">&#xe6de;</i></a></td>
						</tr>
					{/volist}
				</tbody>
			</table>
			<div id="page">{$list->render()}</div>
		</div>
	</div>
</div>
{/block}

{block name='footer'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__AVIEW__lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="__AVIEW__lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__AVIEW__lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__AVIEW__lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
var zNodes;
	$.ajax({
		url : "{:url('showcat')}",
		type : 'get',
		dataType : 'json',
		async : false,
		success : function(info){
			zNodes = info;
		}
	});

var setting = {
	view: {
		dblClickExpand: false,
		showLine: false,
		selectedMulti: false
	},
	data: {
		simpleData: {
			enable:true,
			idKey: "id",
			pIdKey: "pid",
			rootPId: ""
		}
	},
	callback: {
		beforeClick: function(treeId, treeNode) {
			if(treeNode.pid != ''){
				$.ajax({
					url : "{:url('catList')}",
					data : {'id':treeNode.id},
					dataType : 'json',
					type : 'post',
					success : function(info){
						if(info.code==1){
							$("tbody").html(info.list);
							$("strong").html(info.total);
							$("#page").html(info.pageinfo);
						}
					}
				})
			}
		}
	}
};
		
$(document).ready(function(){
	var t = $("#treeDemo");
	t = $.fn.zTree.init(t, setting, zNodes);
	var zTree = $.fn.zTree.getZTreeObj("tree");
});
/*添加*/
function add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*编辑*/
function edit(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*移除*/
function recycle(id){
	layer.confirm('确认要回收吗？',function(index){
		$.ajax({
			type : 'post',
			url : "{:url('recycle')}",
			data : {'id':id},
			dataType : 'json',
			success : function(info){
				if(info.code==1){
					layer.msg(info.msg,{icon:1,time:1000},function(){
						window.location.reload();
					});
				}else{
					layer.msg(info.msg,{icon:2,time:1000});
				}
			}
		});
	});
}
/*批量移除*/
function recycles(){
	var ids = [];
	$('input[name^=id]:checked').each(function(){
		ids.push($(this).val());
	});

	$.ajax({
		url : "{:url('recycles')}",
		data : {'ids':ids},
		type : 'post',
		dataType : 'json',
		success : function(info){
			if(info.code==1){
				layer.msg(info.msg,{icon:1,time:1000},function(){
					window.location.reload();
				});
			}else{
				layer.msg(info.msg,{icon:2,time:1000});
			}
		}
	})
}
/*库存*/
function numlist(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
</script>
{/block}